/*=============================================>>>>>
= helper classes =
===============================================>>>>>*/
.clarfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/*= End of helper classes =*/
/*=============================================<<<<<*/
