/*=============================================>>>>>
= typography style =
===============================================>>>>>*/
html {
  font-size: 87.5%;
  line-height: 1.4;
  @include breakpoint(490px) {
    font-size: 100%;
  }
  @include breakpoint(768px) {
    font-size: 112.5%;
    line-height: 1.5;
  }
  @include breakpoint(992px) {
    font-size: 125%;
  }
  @include breakpoint(1600px) {
    font-size: 121.25%;
    line-height: 1.6;
  }
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4 {
  line-height: 1.8;
}
/*----------- h1 -----------*/
h1,.h1 {
  font-size: 33px;
  @include breakpoint(490px) {
    font-size: 36px;
  }
  @include breakpoint(768px) {
    font-size: 41px;
  }
  @include breakpoint(992px) {
    font-size: 46px;
  }
  @include breakpoint(1600px) {
    font-size: 52px;
  }
}

/*----------- h2 -----------*/
h2,.h2 {
  font-size: 27px;
  @include breakpoint(490px) {
    font-size: 30px;
  }
  @include breakpoint(768px) {
    font-size: 35px;
  }
  @include breakpoint(992px) {
    font-size: 40px;
  }
  @include breakpoint(1600px) {
    font-size: 46px;
  }
}

/*----------- h3 -----------*/
h3,.h3 {
  font-size: 22px;
  @include breakpoint(490px) {
    font-size: 24px;
  }
  @include breakpoint(768px) {
    font-size: 29px;
  }
  @include breakpoint(992px) {
    font-size: 34px;
  }
  @include breakpoint(1600px) {
    font-size: 40px;
  }
}

/*----------- h4 -----------*/
h4,.h4 {
  font-size: 17px;
  @include breakpoint(490px) {
    font-size: 18px;
  }
  @include breakpoint(768px) {
    font-size: 23px;
  }
  @include breakpoint(992px) {
    font-size: 28px;
  }
  @include breakpoint(1600px) {
    font-size: 34px;
  }
}





/*= End of typography style =*/
/*=============================================<<<<<*/
